#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,physical-layout = &layout_ortho_4x12_2x2u; };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp TAB    &kp Q      &kp W     &kp E     &kp R   &kp T      &kp Y      &kp U      &kp I      &kp O    &kp P     &kp BSPC
&trans     &kp A      &kp S     &kp D     &kp F   &kp G      &kp H      &kp J      &kp K      &kp L    &kp SQT   &kp RET
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V   &kp B      &kp N      &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
&trans     &kp LCTRL  &kp LALT  &kp LGUI  &trans  &kp RIGHT  &kp SPACE  &kp SPACE  &kp ESC    &trans   &kp LEFT  &kp RIGHT
            >;
        };
    };
};
